.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid  rgb(37, 0, 21);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(114, 0, 63);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color:  rgb(255, 0, 140);
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #2efc38;
}

.incorrect {
    background-color: #dc3551;
}

/* HUD */

#hud {
    padding-top: 25%;
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid rgb(255, 0, 140);
    margin-top: 1.5rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: rgb(255, 0, 140);
    width: 0%;

}